/*** Import Fonts ***/
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,300italic,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,300italic,200,600);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700);

@import 'fonts';

/*** Variables ***/
$Lato:	'Lato', sans-serif;
$Source-sans: 'Source Sans Pro', sans-serif;
$Poppins: 'Poppins', sans-serif;
$dark-gray: #3c3c3c;
$light-gray: #a6a6a6;
$UIblue: #57c6e1;
$dark-brown: #542900;

/* -------------------------------- 
Small Window Size and Mobile Style
-------------------------------- */
@media screen and (min-width: 1450px) {
	.grid-item, .grid-background {
		height: 400px !important;
		width: 400px !important;
	}
	
	.grid-item {
		margin: 13px 13px !important;
	}
	
	.hello-container {
		right: 10vw !important;
	}
}

@media screen and (max-width: 1250px) {
	
	.grid-item, .grid-background {
		height: 325px !important;
		width: 325px !important;
	}
	
	.cover-des {
		line-height: 325px !important;
	}
}

@media screen and (max-width: 1150px) {
	
	.grid-item, .grid-background {
		height: 300px !important;
		width: 300px !important;
	}
	
	.cover-des {
		line-height: 300px !important;
		font-size: 50px !important;
		
		&.small {
			font-size: 40px !important;
		}
	}
}

@media screen and (max-width: 1050px) {
	
	.panel {
		
		.about-title-container {
			left: 20px !important;
		}
	
		.name-title {
			font-size: 25px !important;
		}
		
		h2 {
			font-size: 75px !important;
			line-height: 85px !important;
		}
		
		p {
			font-size: 18px !important;
			line-height: 40px !important;
		}
	}	
	
	.grid-item, .grid-background {
		height: 275px !important;
		width: 275px !important;
	}
	
	.cover-des {
		line-height: 275px !important;
	}
}

@media screen and (max-width: 950px) {

	.grid {
		width: 80% !important;
	}
	
	.grid-item, .grid-background {
		height: 300px !important;
		width: 300px !important;
	}
	/*
	.holder-project {
		display: none !important;
	} 
	*/
	.hello-container {
		right: 100px !important;
	}
	
	.cover-des {
		line-height: 300px !important;
	}
		
	.panel {
		
		h2 {
			font-size: 65px !important;
			line-height: 75px !important;
		}
	}
}

@media screen and (max-width: 850px) {


	.grid-item, .grid-background {
		height: 275px !important;
		width: 275px !important;
	}
	
	.cover-des {
		line-height: 275px !important;
	}
	
	.sidenavbar-container {
		display: none;
	}
	
	body.about {
		.block-logo span.logo {
			color: #fff !important;
		}
	}
	
	.panel-container {
		width: 100% !important;
		margin: 0 auto !important;
		display: block !important;
	}
	
	.panel {
		height: 500px !important;
		width: 100% !important;
		
		.about-title-container, .about-des-container {
			padding-left: 110px !important;
		}
	}
	
	.panel-contact {
		background-position: center 30% !important;
	}
	 
	.top-section-image {
		padding-top: 70px !important;
	}
	
	.learn-more {
		display: none;
	}
}

@media screen and (max-width: 750px) {
	
	.grid-item, .grid-background {
		height: 250px !important;
		width: 250px !important;
	}
	
	.grid-item {
		margin: 7px 7px !important;
	}
	
	.cover-des {
		line-height: 250px !important;
		font-size: 45px !important;
		
		&.small {
			font-size: 35px !important;
		}
	}
}

@media screen and (max-width: 625px) {
	
	.grid-item, .grid-background {
		height: 350px !important;
		width: 350px !important;
	}
	
	.holder-project {
		display: none !important;
	} 
	
	.cover-des {
		line-height: 350px !important;
		font-size: 53px !important;
		
		&.small {
			font-size: 43px !important;
		}
	}
	
	.block-logo, .nav-arrow {
		display: none !important;
	}
	
	.hello-container {
		display: none !important;
	}
	
	.menu-logo {
		display: block !important;
	}
	
	.nav-item.connect {
		display: none !important;
	}
	
	.nav-item.blog {
		margin-left: 100px !important;
	}
	
	.panel {
		height: 400px !important;
		
		.about-title-container, .about-des-container {
			padding-left: 80px !important;
		}
		
		.about-des-container {
			margin-bottom: -100px !important;
			padding: 100px 0;
		}
	}
	
	.panel-des {
		height: 500px !important;
	}
	
	.menu-item {
		height: 100px !important;
		a {
			font-size: 50px !important;
		}
	}
}

@media screen and (max-width: 550px) {
	
	.panel-container.dark {
		padding-top: 150px !important;
	}
	
	.panel {
		
		.about-title-container, .about-des-container {
			padding-left: 50px !important;
			
			h2 {
				font-size: 55px !important;
				line-height: 65px !important;
			}
			
			p, .highlight a {
				font-size: 15px !important;
			}
		}
	}
}

@media screen and (max-width: 450px) {
	.grid-item, .grid-background {
		height: 300px !important;
		width: 300px !important;
	}
	
	.cover-des {
		line-height: 300px !important;
		font-size: 50px !important;
		
		&.small {
			font-size: 40px !important;
		}
	}
	
	.hello-container {
		right: 30px !important;
	}
	
	.connect-container {
		top: 150px !important;
		width: 250px !important;
		
		li.connect-item {
			
			a {
				font-size: 15px !important;
				letter-spacing: 2px;	
			}
			
			p.connect-info {
				padding: 13px 0 13px 40px !important;
				font-size: 15px !important;
			}
		}
	}
	
	
	.panel {
		height: 350px !important;
		
		.about-title-container {
			padding-left: 20px !important;
			
			h2 {
				font-size: 55px !important;
				line-height: 65px !important;
			}
			
			.name-title {
				font-size: 20px !important;
			}
		}
		
		p {
			font-size: 15px !important;
			line-height: 35px !important;
			margin-top: 30px;
			
		}
		
		.about-des-container {
			margin-top: 50px !important;
			padding-left: 50px !important;

		}
	}
}

@media screen and (max-width: 350px) {
	.grid-item, .grid-background {
		height: 300px !important;
		width: 300px !important;
	}
	
	.cover-des {
		line-height: 300px !important;
		font-size: 50px !important;
		
		&.small {
			font-size: 40px !important;
		}
	}
	
	.hello-container {
		width: 300px;
		right: 10px !important;
	}
	
	
	
	.block-logo {
		padding-left: 15px !important;
	}
	
	.menu-item {
		height: 90px !important;
		a {
			font-size: 45px !important;
		}
	}
	
	.nav-item.blog {
		margin-left: 130px !important;
	}
}

/* -------------------------------- 
		General Style
-------------------------------- */

body {
	margin: 0;
	padding: 0;
	font-size: 40px;
	overflow-x: hidden;
}

.highlight {
	background: #FCEA34;
	border-radius: 3px;
}

/*** kfan.io Logo ***/

.block-logo {
	z-index: 999;
	position: absolute;
	width: 200px;
	top: 45px;
	padding-left: 35px;
	font-size: 25px;
	letter-spacing: 2px;
		
	a {
		text-decoration: none;
	}
}

span.logo {
	font-family: $Poppins;
	font-weight: 700;
	color: #fff;
}

span.logo.dark {
	color: #000;
}

span.logo.light {
	color: #fff;
}

#dot {
	color: #5FA6E0;
	display: inline-block;
	position: absolute;
	transform: translate(0, 5px);
}

/*** Menu Logo ***/

.menu-logo {
	font-size: 25px !important;
	display: none;
	letter-spacing: -1px !important;
	position: absolute !important;
}

/*** Menu Overlay ***/
.menu-container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	background: rgba(95, 166, 224, 1);
	z-index: -1;
	opacity: 0;
	top: 0;
    left: 0px;
    right: 0px;
    bottom: 0px;
	overflow: auto;
	background-attachment: fixed;
	transform: scale(1.5); 
	transition: 0.5s cubic-bezier(0, 1, 0.5, 1);
}

.menu-list {
	width: 100%;
	position: relative;
	top: 50%;
	margin-bottom: -50%;
	transform: translateY(-50%);
	margin-top: 30px;
	

	
	.menu-item {
		height: 130px;
		text-align: center;
		
		a {
			font-family: $Poppins;
			font-size: 65px;
			color: #fff;
			font-weight: 600;
			text-decoration: none;
			letter-spacing: 2px;
		}
	}
}

.menu-span {
	transition: 0.5s cubic-bezier(0, 1, 0.5, 1);
}

.fadeInScale {
	z-index: 10 !important;
    opacity: 1 !important;
	-webkit-transform: scale(1) !important; 
	transform: scale(1) !important; 
}

/*** Navbar ***/

.navbar-container {
	position: relative;
	top: 25px;
	right: 50px;
}

.navbar-container {
	position: absolute;
	top: 50px;
	right: 50px;
}

.nav, .navbar {
	width: 150px;
	font-family: $Poppins;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1px;
	float: right;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	flex-wrap: nowrap;

	a {
		color: $dark-gray;
		text-decoration: none;
	}

	.nav-item {
		z-index: 10;
		padding: 5px 5px 2px 5px;
		animation-duration: .2s;
		background: #f9f9f9;
		border-radius: 2px;
		transition: all 0.5s cubic-bezier(0, 1, 0.5, 1)
	}
}

nav .connect.dark {
	background: transparent;
	border: 1px solid #fff;
	
	a {
		color: #fff;
	}
	
	&:hover {
		background: #fff;
		
		 a {
			 color: #000;
		 }
	}
}

.blog.dark {
	a {
		color: #fff !important;
	}
}

nav .connect.light {
	background: transparent;
	border: 1px solid #000;
	
	&:hover {
		background: #000;
		
		 a {
			 color: #fff;
		 }
	}
}

nav .blog {
	background: none !important;
	
	a {
		font-weight: 600;
		font-size: 14px;
	}
}

.connected {
	background: #fff !important;
	z-index: 100 !important;
	border: none;
	
	a {
		color: #000 !important;
	}
	
	&:hover {
		a {
			color: #000 !important;
		}
	}
}

.nav-arrow {
	position: fixed;
	z-index: 10;
	width: 150px;
	
	transition: all 0.3s cubic-bezier(0, 1, 0.5, 1);
	
	img {
		width: 150px;
		height: auto;
	}
}

.about-me {
	top: 100px;
	left: 20px;
    opacity: 1;
	
	&:hover {
		-webkit-transform: translate(10px, 0) !important;
		transform: translate(10px, 0) !important;
	}
}

/* -------------------------------- 
			Footer
-------------------------------- */
.footer {
	
	text-decoration: none;
	
	div {
		margin-top: -7px !important;
		padding: 0;
		height: 100px;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}
	
	p {
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		transition: all 0.2s linear;
		font-family: $Source-sans;
		vertical-align: middle;
		line-height: 100px; 
		letter-spacing: 2px;
		font-weight: 600;
		font-size: 18px;
	}
}

.kfanio-v2-2 .footer {
	
	p {
		color: rgba(0, 0, 0, 0.6);
	}
	
	div {
		background: rgba(0, 0, 0, 0.1);
	}
	
	&:hover {
		background: rgba(0, 0, 0, 0.4);
	}
}

.footer:hover .footer-container {
	background: rgba(0, 0, 0, 0.4);
	
	p {
		color: #fff;
	}
}

/* -------------------------------- 
		Contact Overlay
-------------------------------- */

.connect-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0, 0, 0, .8);
	z-index: -1;
	opacity: 0;
	top: 0;
    left: 0px;
    right: 0px;
    bottom: 0px;
	overflow: auto;
	background-attachment: fixed;
	transition: .5s ease;
}

.connected-overlay {
	z-index: 20 !important;
	opacity: 1 !important;
}

.connect-container {
	width: 300px;
	position: absolute;
	left: 50%;
	margin-right: 50%;
	transform: translateX(-50%);
	top: 200px;
	z-index: -1;
	
	li.connect-item {
		
		animation-duration: .2s;
		opacity: 0;
		
		&:hover .connect-link {
			color: #9b9b9b;
		}
		
		&:nth-of-type(1) {
			animation-delay: 50ms;
		}
		&:nth-of-type(2) {
			animation-delay: 100ms;
		}
		&:nth-of-type(3) {
			animation-delay: 150ms;
		}
		&:nth-of-type(4) {
			animation-delay: 200ms;
		}
		&:nth-of-type(5) {
			animation-delay: 250ms;
		}
		&:nth-of-type(6) {
			animation-delay: 300ms;
		}
		
		a {
			color: #f7f7f7;
			font-family: "Futura Book";	
			text-decoration: none;
			font-size: 20px;
			letter-spacing: 2px;	
		}
		
		p.connect-info {
			display: inline-block;
			padding: 15px 0 15px 70px;
			font-size: 15px;
		}
	}
}

.connected-container {
	z-index: 999 !important;
}


.fixed-page {
	position: fixed !important;
}

/* -------------------------------- 
			Project Page
-------------------------------- */
.page-container {
	position: relative;
	padding: 0;
	margin: 0 auto;
	width: 100%;
}

.home .page-container {
	opacity: 0;
	-webkit-transform: scale(1.1); 
	transform: scale(1.1); 
	-webkit-transition: 1.5s cubic-bezier(0, 1, 0.5, 1);
	transition: 1.5s cubic-bezier(0, 1, 0.5, 1);
}

.hello-container {
	position: relative;
	display: inline-block;
	float: right;
	top: 100px;
	right: 50px;
	font-family: $Poppins;
	letter-spacing: 3px;
	
	h4 {
		font-weight: 600;
		font-size: 30px;
		line-height: 50px;
	}
	
	p {
		font-family: $Lato;
		font-size: 15px;
		line-height: 40px;
		color: #8E8E8E;
		font-weight: 400;
		letter-spacing: 1px;
	}
}

.grid {
	width: 95%;
	max-width: 80rem;
	list-style: none;
	margin: 0 auto;
	position: relative;
	padding-top: 150px;
	padding-bottom: 20px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
}

.grid-item {
	margin: 13px 13px;
	position: relative;
	display: block;
}

.grid-item { 
	height: 350px;
	width: 350px;
}

.active-item {
	.grid-overlay {
		background: rgba(0, 0, 0, 0) !important;
	}
	
	.cover-type {
		opacity: 0 !important;
	}
}

.grid-background {
	position: absolute;
	height: 350px;
	width: 350px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin: 0 auto;
	background-size: cover;
	background-position: center center;
	text-align: center;
	transition: all 0.5s cubic-bezier(0, 1, 0.5, 1);
}

.grid-overlay {
	position: absolute;
	text-align: center;
	background: rgba(0, 0, 0, 0.7);
	opacity: 0;
	transition: all 0.5s cubic-bezier(0, 1, 0.5, 1);
	z-index: 1;
}

.holder-project {
	
	.grid-background {
		height: 0 !important;
	}
	opacity: 0 !important;
}

.cover-type {
	opacity: 0;
}

.cover-des {
	font-family: $Poppins;
	font-weight: 600;
	line-height: 350px;
	vertical-align: middle;
	letter-spacing: 2px;
	font-size: 53px;
	color: #fff;
	
	&.small {
		font-size: 43px;
	}
	
	&.dark {
		color: $dark-gray;
	}
}

/* -------------------------------- 
			About Page
-------------------------------- */
.about-container {
	position: relative;
	width: 100%;
}

.panel-container {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.panel {
	position: relative;
	width: 52%;
	margin: 0 auto;
	height: 100vh;
	font-family: $Poppins;
	float: right;
	
	.about-title-container {
		position: relative;
		text-align: left;
		top: 50%;
		left: 0 !important;
		padding-left: 25px;
		margin-bottom: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		
		a {
			font-size: 15px;
			color: $light-gray;
		}
	}
	
	.about-des-container {
		position: relative;
		font-family: $Lato;
		text-align: left;
		width: 75%;
		top: 40%;
		margin-bottom: 50%;
		-webkit-transform: translate(0, -50%);
		transform: translate(0, -50%);
	}

	.name-title {
		font-weight: 600;
		font-size: 30px;
		font-weight: 600;
		letter-spacing: -1px;
		color: #5FA6E0;
	}
	
	h2 {
		font-size: 80px;
		font-weight: 500;
		letter-spacing: -2px;
		line-height: 95px;
		margin: 20px 0;
	}
	
	p {
		color: #000;
		font-weight: 300;
		font-size: 20px;
		line-height: 42px;
	}
	
	a {
		font-size: 15px;
		text-decoration: none;
		color: #000;
		letter-spacing: 1px;
	}	
	
	.contact {
		font-size: 13px;
		font-weight: 300;
		letter-spacing: 2px;
	}
}

.panel-contact {
	width: 48%;
	background-size: cover;
	background-position: center center;
}

#panel-fixed {
 	position: relative;
 }

.my-work {
	top: 50%;
	right: 20px;
	margin-bottom: 50%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	
	&:hover {
		-webkit-transform: translate(-10px, -50%);
		transform: translate(-10px, -50%);
	}
}

.learn-more {
	position: absolute;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	top: 87vh;
}

.resume {
	position: absolute;
	margin-top: 50px;
	color: #5FA6E0 !important;
	font-family: $Poppins;
}

.highlight a {
	font-size: 20px;
}

/* -------------------------------- 
		Project Showcase
-------------------------------- */

/*** Header ***/

.header {
	position: relative;
	left: 0;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	background-position: center center;
	background-size: cover;
	text-align: center;
	
	h4 {
		color: #fff;
		font-size: 230px;
		font-family: $Poppins;
		font-weight: 600;
		letter-spacing: 1px;
		line-height: 100vh;
		vertical-align: middle;
	}
	
	h4.small {
		font-size: 130px;
	}
}

.image-container {
	width: 70%;
	margin: 0 auto;
	padding: 0;
	
	p {
		display: block;
		width: 100%;
		margin: 0 auto;
		font-family: $Source-sans;
		font-size: 20px;
		font-weight: normal;
		line-height: 40px;
		color: #808080;
		padding: 120px 0;
		
		span {
			display: block;
			color: #3c3c3c;
		}
		
		.section-index {
			color: #5FA6E0;
			font-size: 18px;
			font-weight: 600;
			padding-bottom: 0 !important;
			margin-bottom: -30px;
		}
		
		a {
			color: #000;
			
			&:hover {
				color: #808080;
			}
		}
	}
}

.wide {
	width: 100% !important;
}

img {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

.half {
	padding: 100px 0;
	display: flex;
	justify-content: space-around;
	
	img {
		width: 46%;
		height: auto;
		padding: 0 30px;
	}
}



/* -------------------------------- 
		Custom Animations
-------------------------------- */

.fadeInDownSwing {
	-moz-animation-name:fadeInDownSwing;
	-webkit-animation-name:fadeInDownSwing;
	animation-name:fadeInDownSwing;
	animation-fill-mode: both;
}

@-moz-keyframes fadeInDownSwing {
	0% {
		opacity: 0;
		-moz-transform: translate3d(-5%,-100%,0);
		transform: translate3d(-5%,-100%,0)
	}to {
		opacity: 1;
		-moz-transform: none;
		transform: none;
	}
}

@-webkit-keyframes fadeInDownSwing {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-5%,-100%,0);
		transform: translate3d(-5%,-100%,0)
	}to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInDownSwing {
	0% {
		opacity: 0;
		transform: translate3d(-5%,-100%,0);
	}to {
		opacity: 1;
		transform: none;
	}
}

/* -------------------------------- 
		Vendor Customization
-------------------------------- */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
	background: #9bc9ee;
  	background: -webkit-linear-gradient(left, #4776E6, #8E54E9);
   	background: -moz-linear-gradient(right,#4776E6, #8E54E9);
  	background: linear-gradient(right, #4776E6, #8E54E9);  
  	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 3px;
}

.dark .pace .pace-progress {
  background: #fff;
}